  <section>
    <div class="container">
        <div class="foter">
          <div class="row">
          <div class="col-md-2" style="float: left;">
              <img style="max-height: 150px;" src="assets/img/logo1.png">
          </div>
          <div class="col-md-3 foot">
              <p>The Company Name Inc.<br>
                  9870 St Vincent Place,<br>
                  Glasgow, DC 45<br>
                  <i class="fa fa-instagram fa-2x" style="color: #FF6A00;margin-top: 10px;"></i>&nbsp;&nbsp;
                  <i class="fa fa-whatsapp fa-2x" style="color: #FF6A00;margin-top: 10px;"></i>
              </p>
          </div>
          <div class="col-md-3 foot1">
              <h6>ТОП КАТАЛОГ</h6>
              <a href="">Кремы</a><br>
              <a href="">Посуды</a><br>
              <a href="">Акссесуары</a><br>
              <a href="">Тушь</a>
          </div>
          <div class="col-md-3 foot1">
              <h6>КОНТАКТЫ</h6>
              <a href="">800-2345-6799</a><br>
              <a href="">800-2345-6799</a><br>
              <a href="">demo@demo.com</a>
          </div>
        </div>
      </div>
    </div>
  </section>
