  <!-- Header -->
  <div class="container">
    <div class="row">
          <div class="logo">
            <dir class="col-md-2" style="float: left;">
              <img class="logoimg" style="max-height: 85px;" src="assets/img/logo1.png">
              <img class="logoimg1" style="max-height: 45px;" src="assets/img/stargem1.png">
            </dir>
               <div class="col-md-8 men" style="float: right;">
                <ul id="navbar">
                      <li><a href="index.html">Главная</a></li>
                      <li><a href="product.html">Каталог</a></li>
                      <li><a href="#">Доставка</a></li>
                      <li><a href="#">Контакты</a></li> </ul>
                <div class="col-md-5" style="float: right;margin-top: 6px;">
                  <i class="fa fa-phone-square" style="color: #000;"></i>&nbsp;
                  <a href="https://nextin.me/admin_assets/img/brif1.pdf" style="color: #000;  font-size: 15px;">8 747 564 37 97</a>&nbsp;
                   <i class="fab fa-whatsapp" aria-hidden="true" style="color: #000;"></i>&nbsp;
                  <a href="https://nextin.me/admin_assets/img/brif1.pdf" style="color: #000; font-size: 15px;">8 747 564 37 97</a>
                </div>
               </div>
               <div>
               </div>

           </div>
           <header class="header">
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="index.html">Главная</a></li>
    <li><a href="product.html">Каталог</a></li>
    <li><a href="#">Доставка</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
</header>

    </div>
  </div>
