 <!-- 3 category -->
        <div class="bgimg"></div>
          <div class="container mobi">
            <div class="cart">
              <div class="row">
                <div class="col-md-4 top1">
                    <div class="block1">
                      <h3 >CLEAR DEW</h3>
                      <h2>Увлажняющий крем<br>для тело</h2>
                    </div>
                  <img style="width: 300px;" src="assets/img/phone1.png">
                </div>
                <div class="col-md-4 top1">
                    <div class="block2">
                      <h3 >CLEAR DEW</h3>
                      <h2>Увлажняющий крем<br>для тело</h2>
                    </div>
                  <img style="width: 300px;" src="assets/img/phone2.png">
                </div>
                <div class="col-md-4 top1">
                    <div class="block1">
                      <h3 >CLEAR DEW</h3>
                      <h2>Увлажняющий крем<br>для тело</h2>
                    </div>
                  <img style="width: 300px;" src="assets/img/phone3.png">
                </div>
             <img style="float: right;position: absolute;right: 50px;/* top: 800px; */z-index: -1;" src="assets/img/vector.png">
              </div>
            </div>
          </div>
