{% load static %}
{% block header %}  {% endblock header %}
<!DOCTYPE html>
{% block movie %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.css' %}">
    <link href = "https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 0,100; 0,500; 0,600; 0,800; 0,900; 1,500 & family = Roboto & display = swap" rel = "stylesheet" >
    <link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.6.1/css/all.css' %}"
integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="{% static 'assets/js/script.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/font/css/font-awesome.min.css' %}">

	<title>Stargem Store</title>

</head>
<body>
   <!-- Header -->
  <div class="container">
    <div class="row">
          <div class="logo">
            <dir class="col-md-2" style="float: left;">
              <img class="logoimg" style="max-height: 85px;" src="{% static 'assets/img/logo1.png' %}">
              <img class="logoimg1" style="max-height: 45px;" src="{% static 'assets/img/stargem1.png' %}">
            </dir>
               <div class="col-md-8 men" style="float: right;">
                <ul id="navbar">
                     <li><a href="{% url 'home' %}">Главная</a></li>
                      <li><a href="{% url 'category' %}">Каталог</a></li>
                      <li><a href="{% url 'delivery' %}">Доставка</a></li>
                      <li><a href="{% url 'contact' %}">Контакты</a></li> </ul>
                <div class="col-md-5" style="float: right;margin-top: 6px;">
                  <i class="fa fa-phone" aria-hidden="true" style="color: #000;"></i>&nbsp;
                  <a href="tel:8 707 995 8888" style="color: #000;  font-size: 15px;">8 707 995 8888</a>&nbsp;
                   <i class="fa fa-whatsapp" aria-hidden="true" style="color: #000;"></i>&nbsp;
                  <a href="tel:8 707 166 8888" style="color: #000; font-size: 15px;">8 707 166 8888</a>
                </div>
               </div>
               <div>
               </div>

           </div>
           <header class="header">
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="index.html">Главная</a></li>
    <li><a href="product.html">Каталог</a></li>
    <li><a href="#">Доставка</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
</header>

    </div>
  </div>

   <div style="margin-top: 30px; margin-bottom: 30px;">
    <div style="position:relative;overflow:hidden;">
        <a href="https://yandex.kz/maps/org/forum/134433737469/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Forum</a>
        <a href="https://yandex.kz/maps/162/almaty/category/shopping_mall/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Торговый центр в Алматы</a>
        <a href="https://yandex.kz/maps/162/almaty/category/clothing_store/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Магазин одежды в Алматы</a>
        <iframe src="https://yandex.kz/map-widget/v1/-/CCQtYQcVlA" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
   </div>

      <div class="container">
        <div class="content-contact-us">
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 40px;">
                    <h1>Контакты</h1>

                </div>
            </div>
            <div class="row" style="margin-bottom: 80px;">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-inline">
                                <li><i class="fa fa-map-marker  fa-2x" style="color: #FF6A00;margin-top: 10px; margin-bottom: 10px;"></i></li>
                                <li>Бостандыкский район,
                                    Сейфуллина проспект, 617
                                </li>
                                <li>Email: info@stargem.kz<br>
                                    Телефон:<br> 8 (707) 995 88-88 <br>8 (707) 166 88-88
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-inline">
                                <li><i class="fa fa-map-marker  fa-2x" style="color: #FF6A00;margin-top: 10px; margin-bottom: 10px;"></i></li>
                                <li>​Северное Кольцо шоссе, 7г​11 ряд; 38-39 контейнер
                                </li>
                                <li>Email: info@stargem.kz<br>
                                    Телефон:<br> 8 (707) 995 88-88 <br>8 (707) 166 88-88
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                            <ul class="list-inline">
                                <li><i class="fa fa-map-marker  fa-2x" style="color: #FF6A00;margin-top: 10px; margin-bottom: 10px;"></i></li>
                                <li>​ТРК GRAND PARK​Кабдолова,<br>1/4​5 блок; D линия; 3 бутик
                                </li>
                                <li>Email: info@stargem.kz<br>
                                    Телефон:<br> 8 (707) 995 88-88 <br>8 (707) 166 88-88
                                </li>
                            </ul>
                </div>
                <div class="col-md-3">
                            <ul class="list-inline">
                                <li><i class="fa fa-map-marker  fa-2x" style="color: #FF6A00;margin-top: 10px; margin-bottom: 10px;"></i></li>
                                <li>​ТФЦ MART Village​ Рихарда Зорге, <br>18​1 этаж; 36 бутик
                                </li>
                                <li>Email: info@stargem.kz<br>
                                    Телефон:<br> 8 (707) 995 88-88 <br>8 (707) 166 88-88
                                </li>
                            </ul>
                </div>
            </div>
        </div>
    </div>

  <section class="fut">
    <div class="container">
        <div class="foter">
          <div class="row">
          <div class="col-md-2" style="float: left;">
              <img style="max-height: 150px;" src="{% static 'assets/img/logo1.png' %}">
          </div>
          <div class="col-md-3 foot">
              <p>Алматы, 050013,<br> Бостандыкский район, <br>
                  Сейфуллина проспект, 617
                   <a href="https://www.instagram.com/stargem_kz/">
                      <i class="fa fa-instagram fa-2x" style="color: #FF6A00;margin-top: 10px;"></i>&nbsp;&nbsp;
                  </a>
                  <a href="https://wa.me/+77071668888?text=Здравствуйте хочу купить косметику">
                      <i class="fa fa-whatsapp fa-2x" style="color: #FF6A00;margin-top: 10px;"></i>
                  </a>
              </p>
          </div>
          <div class="col-md-3 foot1">
              <h6>ТОП КАТАЛОГ</h6>
              <a href="">Сумки</a><br>
              <a href="">Макияж</a><br>
              <a href="">Парфюмерия</a><br>
              <a href="">Маски для сна</a>
          </div>
          <div class="col-md-3 foot1">
              <h6>КОНТАКТЫ</h6>
              <a href="tel:8 707 995 8888">8 707 995 8888</a><br>
              <a href="tel:8 707 166 8888">8 707 166 8888</a><br>
              <a>info@stargem.kz</a>
          </div>
        </div>
      </div>
    </div>
  </section>


<script>
              'use strict';
          var searchBox = document.querySelectorAll('.search-box input[type="text"] + span');

          searchBox.forEach(elm => {
            elm.addEventListener('click', () => {
              elm.previousElementSibling.value = '';
            });
          });
</script>

</body>
</html>
{% endblock movie %}
